:root {
  --primory-text-color: #555555;
  --secondary-text-color: #303030;
  --price-text-color: #9da4bd;
  --contact-text-color: #9da4bd;
  --top-text-primory-color: #303030;
  --top-text-secondary-color: rgba(157, 164, 189, 0.6);
  --button-text-primory-color: #ffffff;
  --button-text-secondary-color: #303030;
  --title-primory-color: #303030;
  --title-secondary-color: #ffffff;
  --header-link-color: #ffffff;
  --hero-link-color: #303030;
  --footer-link-color: #303030;
  --accent-color: #ff6c00;
  --registration-text-color: rgba(157, 164, 189, 0.4);
  --font-secondary: "Raleway", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ----------------------------- header -----------------------------*/
.header {
  background-color: #191c26;
}
.header-link {
  color: var(--header-link-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-button {
  font-family: inherit;
  color: var(--button-text-primory-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: #191c26;
}

.header-button:hover {
  background-color: #fff;
  color: #303030;
}

/* ----------------------------- hero -----------------------------*/
.hero {
  background-color: #191c26;
}
.hero-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--top-text-secondary-color);
}
.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--title-secondary-color);
}
.hero-slogan {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--hero-link-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/* ----------------------------- about -----------------------------*/
.about-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.about-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.about-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
}
.about-desc {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
}
.about-button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: #ffffff;
  color: var(--button-text-secondary-color);
}

.about-button:hover {
  background-color: #191c26;
  color: #ffffff;
}

/* ----------------------------- price -----------------------------*/
.price {
  background-color: #191c26;
}

.price-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--top-text-secondary-color);
}

.price-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-secondary-color);
}

.price-text-item {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--price-text-color);
}

.price-button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  background-color: #191c26;
  color: var(--button-text-primory-color);
}

.price-button:hover {
  background-color: #ffffff;
  color: #303030;
}

/* ----------------------------- stats -----------------------------*/

.stats-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
}
.stats-text-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.stats-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.stats-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.stats-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
}

/* ---------------------------- masters ----------------------------*/
.masters {
  background-color: #f7f7f7;
}
.masters-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.masters-tltle {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.masters-subtitle {
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
}
.masters-text-item {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ---------------------------- portfolio ----------------------------*/

.portfolio-text-top {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------------------- registration ----------------------------*/
.registration {
  background-color: #191c26;
}
.registration-title {
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-secondary-color);
}
.registration-button {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 38px;
  background-color: #191c26;
  color: var(--button-text-primory-color);
}

.registration-button:hover {
  background-color: #ffffff;
  color: #303030;
}

/* ---------------------------- contacts ----------------------------*/
.contacts {
  background-color: #191c26;
}
.contacts-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--title-secondary-color);
}

.contacts-link {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
  font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.decoration {
  text-decoration-line: underline;
}

.contacts-text-time {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--title-secondary-color);
}
.contacts-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
}

/* ---------------------------- footer ----------------------------*/
.footer {
  background-color: #f7f7f7;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--footer-link-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
