:root {
  --primory-text-color: #555555;
  --secondary-text-color: #303030;
  --price-text-color: #9da4bd;
  --contact-text-color: #9da4bd;
  --top-text-primory-color: #303030;
  --top-text-secondary-color: rgba(157, 164, 189, 0.6);
  --button-text-primory-color: #ffffff;
  --button-text-secondary-color: #303030;
  --title-primory-color: #303030;
  --title-secondary-color: #ffffff;
  --header-link-color: #ffffff;
  --hero-link-color: #303030;
  --footer-link-color: #303030;
  --accent-color: #ff6c00;
  --registration-text-color: rgba(157, 164, 189, 0.4);
  --font-secondary: "Raleway", sans-serif;
  --repeat-margin: 20px;
  --bc-icons: #ffffff;
  --color-icons: #303030;
  --stats-bc-item: #f7f7f7;
}

/* ---------- reset ------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  padding: 12px 20px;
  text-transform: uppercase;
}

/* -------------- body -------------- */
body {
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: var(--font-secondary);
  letter-spacing: 0.05em;
  line-height: 1.16;
}

.text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.text::before {
  content: "";
  width: 62px;
  height: 1px;
  margin-right: 20px;
  background-color: currentColor;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ----------------------------- HEADER -----------------------------*/
.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  color: var(--header-link-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

.header-button {
  min-width: 160px;
  height: 40px;
  margin-left: 40px;
  background-color: transparent;
  color: var(--button-text-primory-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-button:hover,
.header-button:focus {
  background-color: var(--accent-color);
}

/* ----------------------------- HERO -----------------------------*/
.hero .container {
  display: flex;
}

.hero-soc {
  display: flex;
  align-items: flex-end;
  width: 90px;
}

.hero-list {
  display: flex;
  align-items: center;
  transform-origin: top left;
  transform: rotate(-90deg) translate(-19px);
}

.hero-link.line {
  display: flex;
  align-items: center;
  padding-left: 33px;
}

.hero-link.line::before {
  content: "";
  width: 62px;
  height: 1px;
  margin-right: 40px;
  background-color: currentColor;
}

.hero-link.line:hover .line::before {
  background-color: var(--accent-color);
}

.hero-item + .hero-item {
  margin-left: 40px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--hero-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #191c26;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 271px 100px 207px;
  flex-grow: 1;
}

.hero-text-top {
  color: var(--top-text-secondary-color);
  margin-bottom: var(--repeat-margin);
}

.hero-title {
  font-size: 72px;
  line-height: 1.18;
  color: var(--title-secondary-color);
  margin-bottom: var(--repeat-margin);
}

.hero-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
}

/* ----------------------------- ABOUT -----------------------------*/
.about {
  padding-top: 164px;
  padding-bottom: 89px;
}

.about > .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-text-top {
  margin-bottom: var(--repeat-margin);
}
.about-title {
  font-size: 42px;
  margin-bottom: var(--repeat-margin);
}
.about-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
  margin-bottom: var(--repeat-margin);
}
.about-desc {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
  margin-bottom: 40px;
}
.about-button {
  background-color: transparent;
  color: var(--button-text-secondary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-button:hover,
.about-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* ----------------------------- PRICE -----------------------------*/
.price {
  max-width: 1280px;
  max-height: 718px;
  background-color: #191c26;
  background-image: url(../img/prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  padding-top: 130px;
  padding-bottom: 130px;
}

.price-text-top {
  color: var(--top-text-secondary-color);
  margin-bottom: var(--repeat-margin);
}

.price-title {
  font-size: 42px;
  color: var(--title-secondary-color);
  margin-bottom: 44px;
}

.price-list-content {
  display: flex;
}

.price-list {
  padding: 30px 40px;
  flex-grow: 1;
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.price-list + .price-list {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-item {
  margin-bottom: var(--repeat-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price-item:last-child {
  margin-bottom: 0;
}

.price-item::before {
  content: "";
  height: 1px;
  flex-grow: 1;
  background-color: currentColor;
  margin-right: 6px;
  margin-left: 6px;
}

.price-text-item {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--price-text-color);
}

.price-text-item:first-child {
  order: -1;
}

.price-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  background-color: transparent;
  color: var(--button-text-primory-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-button:hover,
.price-button:focus {
  background-color: var(--accent-color);
}

/* ----------------------------- STATS -----------------------------*/

.stats {
  padding-top: 143px;
  padding-bottom: 137px;
}

.stats > .container {
  display: flex;
}

.stats-thumb {
  margin-left: 155px;
  margin-right: 130px;
}

.stats-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
}

.stats-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  background-color: var(--stats-bc-item);
}

.stats-item:nth-child(odd) {
  margin-right: 30px;
}

.stats-item:nth-child(even) {
  margin-top: 30px;
}

.stats-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  display: block;
  margin-bottom: 6px;
}

.stats-numbers::after {
  content: "+";
  width: 13px;
  height: 22px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.37;
  text-align: center;
  color: var(--accent-color);
  vertical-align: top;
}

.stats-text-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.stats-text-top {
  margin-bottom: var(--repeat-margin);
}
.stats-title {
  font-size: 42px;
  margin-bottom: var(--repeat-margin);
}
.stats-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
}

/* ---------------------------- MASTERS ----------------------------*/
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #f7f7f7;
}

.masters-text-top {
  margin-bottom: var(--repeat-margin);
}

.masters-tltle {
  font-size: 42px;
  margin-bottom: 44px;
}

.masters-list {
  display: flex;
}

.masters-item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.masters-item:last-child {
  margin-right: 0;
}

.masters-subtitle {
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-text-item {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--accent-color);
}

.masters-content {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.masters-item-icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.masters-item-icons:last-child {
  margin-right: 0;
}

.masters-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-icons);
  background-color: var(--bc-icons);
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.masters-link:hover,
.masters-link:focus {
  fill: var(--accent-color);
}

/* ---------------------------- PORTFOLIO ----------------------------*/

.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
}

.portfolio-text-top {
  margin-bottom: 44px;
}

.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-item {
  margin: 15px;
  width: calc(100% / 4 - 30px);
}

/* ----------------------- CONNECTION ------------------- */
.connection {
  background-color: #191c26;
}

.connection > .container {
  display: flex;
}

/* -------------------------- REGISTRATION --------------------------*/
.registration {
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% + 15px);
}

.registration > .container {
  padding-left: 58px;
}

.registration-title {
  font-size: 42px;
  color: var(--title-secondary-color);
}
.registration-button {
  padding: 12px 38px;
  background-color: transparent;
  color: var(--button-text-primory-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registration-button:hover,
.registration-button:focus {
  background-color: var(--accent-color);
}

/* ---------------------------- CONTACTS ----------------------------*/
.contacts {
  padding-left: 100px;
  padding-top: 130px;
  padding-bottom: 130px;
  width: calc(50% - 15px);
  background-image: url(../img/contacts.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts > .container {
  padding-left: 100px;
}

.contacts-title {
  font-size: 42px;
  color: var(--title-secondary-color);
  margin-bottom: 40px;
}

.contacts-list {
  padding-bottom: 70px;
}

.contacts-item {
  margin-bottom: var(--repeat-margin);
}

.contacts-item:last-child {
  margin-bottom: 0;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
  font-style: normal;
  margin-bottom: var(--repeat-margin);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.address {
  display: flex;
  align-items: center;
}

.address::before {
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;

  background-image: url(../img/geo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.address::before:hover {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}

.decoration {
  text-decoration-line: underline;
}

.contacts-text-time {
  color: var(--title-secondary-color);
  margin-bottom: var(--repeat-margin);
}

.text.contacts-text-time::before {
  background-color: var(--registration-text-color);
}

.contacts-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
}

/* ---------------------------- FOOTER ----------------------------*/
.footer {
  background-color: #f7f7f7;
  padding-top: 57px;
  padding-bottom: 55px;
}

.footer .container {
  padding-right: 55px;
  padding-left: 55px;
  display: flex;
  align-items: center;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-item {
  display: flex;
  align-items: center;
}

.footer-item + .footer-item {
  margin-left: 40px;
}

.footer-item.instagram::before {
  display: block;
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
  margin-right: 40px;
}

.footer-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--footer-link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
