<<<<<<< HEAD
/* 'Open Sans', sans-serif */
/* 'Raleway', sans-serif */

/* color */
/* #FFFFFF; */
/* #9DA4BD; */
/* rgba(157, 164, 189, 0.4) */
/* rgba(157, 164, 189, 0.6) */
/* #303030; */
/* #555555; */
/* #FF6C00; */

/* background */
/* #191C26; - registration*/
/* #F7F7F7; - masters*/

:root {
  --header-link-color:#ffffff;
  --footer-link-color:#ffffff;
  --secondary-title-color: #ffffff;
  --primory-text-button: #ffffff;
  --grey-background-color: #9da4bd;
  --contact-text-color: #9da4bd;
  --price-text-color: #9da4bd;
  --secondary-slogan-color: #9da4bd;
  --registration-text-color: rgba(157, 164, 189, 0.4);
  --secondary-top-text: rgba(157, 164, 189, 0.6);
  --primory-text-color: #303030;
  --primory-title-color: #303030;
  --secondary-text-button: #303030;
  --hero-link-color: #303030;
  --primory-top-text: #303030;
  --secondary-text-color: #555555;
  --primary-slogan-color: #555555;
  --masters-speciality-text-color: #ff6c00;
=======
:root {
  --primory-text-color: #555555;
  --secondary-text-color: #303030;
  --price-text-color: #9da4bd;
  --contact-text-color: #9da4bd;
  --top-text-primory-color: #303030;
  --top-text-secondary-color: rgba(157, 164, 189, 0.6);
  --button-text-primory-color: #ffffff;
  --button-text-secondary-color: #303030;
  --title-primory-color: #303030;
  --title-secondary-color: #ffffff;
  --header-link-color: #ffffff;
  --hero-link-color: #303030;
  --footer-link-color: #303030;
>>>>>>> ad54d5047037b2e3888b0b2858c596366ee5ea15
  --accent-color: #ff6c00;
  --registration-text-color: rgba(157, 164, 189, 0.4);
  --font-secondary: "Raleway", sans-serif;
  --repeat-margin: 20px;
}

<<<<<<< HEAD
body {  
=======
/* ---------- reset ------------- */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  padding: 12px 20px;
  text-transform: uppercase;
}

/* -------------- body -------------- */
body {
>>>>>>> ad54d5047037b2e3888b0b2858c596366ee5ea15
  font-family: "Open Sans", sans-serif;
  color: var(--secondary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-family: var(--font-secondary);
  letter-spacing: 0.05em;
  line-height: 1.16;
}

.text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid teal;
}

/* ----------------------------- HEADER -----------------------------*/
.header {
  background-color: #9da4bd;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 70px;
}

.header-list {
  display: flex;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-link {
  color: var(--header-link-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-connect {
  margin-left: auto;
}

.header-button {
  min-width: 160px;
  height: 40px;
  margin-left: 40px;
  background-color: transparent;
  color: var(--button-text-primory-color);
}

.header-button:hover {
  background-color: var(--accent-color);
}

/* ----------------------------- HERO -----------------------------*/
.hero .container {
  display: flex;
}

.hero-list {
  width: 90px;
}

.hero-content {
  background-color: #191c26;
  padding: 271px 100px 207px;
  flex-grow: 1;
}

.hero-text-top {
  color: var(--top-text-secondary-color);
  margin-bottom: var(--repeat-margin);
}
.hero-title {
  font-size: 72px;
  line-height: 1.18;
  color: var(--title-secondary-color);
  margin-bottom: var(--repeat-margin);
}

.hero-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 400px;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--hero-link-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

/* ----------------------------- ABOUT -----------------------------*/
.about {
  background-color: #dcdcdc;
  padding-top: 164px;
  padding-bottom: 89px;
}

.about .container {
  display: flex;
}

.about-list {
  display: flex;
  margin-right: 64px;
}

.about-item:not(:last-child) {
  margin-right: 30px;
}

.about-content {
}

.about-text-top {
  margin-bottom: var(--repeat-margin);
}
.about-title {
  font-size: 42px;
  margin-bottom: var(--repeat-margin);
}
.about-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
  margin-bottom: var(--repeat-margin);
}
.about-desc {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
  margin-bottom: 40px;
}
.about-button {
  background-color: transparent;
  color: var(--button-text-secondary-color);
}

.about-button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* ----------------------------- PRICE -----------------------------*/
.price {
  background-color: #191c26;
  padding-top: 130px;
  padding-bottom: 130px;
}

.price-text-top {
  color: var(--top-text-secondary-color);
  margin-bottom: var(--repeat-margin);
}

.price-title {
  font-size: 42px;
  color: var(--title-secondary-color);
  margin-bottom: 44px;
}

.price-list-left {
  outline: 1px dotted red;
  padding: 30px 40px;
}

.price-list-right {
  outline: 1px dotted green;
  padding: 30px 40px;
}

.price-item {
  margin-bottom: var(--repeat-margin);
}

.price-text-item {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--price-text-color);
}

.price-button {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  background-color: transparent;
  color: var(--button-text-primory-color);
}

.price-button:hover {
  background-color: var(--accent-color);
}

/* ----------------------------- STATS -----------------------------*/

.stats {
  background-color: #f0ffff;
  padding-top: 143px;
  padding-bottom: 137px;
}

.stats-item {
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  outline: 1px solid blue;
}

.stats-numbers {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  text-align: center;
  display: block;
  margin-bottom: 6px;
}
.stats-text-item {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
}

.stats-text-top {
  margin-bottom: var(--repeat-margin);
}
.stats-title {
  font-size: 42px;
  margin-bottom: var(--repeat-margin);
}
.stats-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--primory-text-color);
}

/* ---------------------------- MASTERS ----------------------------*/
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #f7f7f7;
}
.masters-text-top {
  margin-bottom: var(--repeat-margin);
}
.masters-tltle {
  font-size: 42px;
  margin-bottom: 44px;
}

.masters-subtitle {
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 30px;
}

.masters-text-item {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* ---------------------------- PORTFOLIO ----------------------------*/

.portfolio {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #ffe4e1;
}

.portfolio-text-top {
  margin-bottom: 44px;
}
.portfolio-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------------------- REGISTRATION ----------------------------*/
.registration {
  padding-top: 130px;
  padding-bottom: 193px;
  background-color: #191c26;
}
.registration-title {
  font-size: 42px;
  color: var(--title-secondary-color);
}
.registration-button {
  padding: 12px 38px;
  background-color: transparent;
  color: var(--button-text-primory-color);
}

.registration-button:hover {
  background-color: var(--accent-color);
}

/* ---------------------------- CONTACTS ----------------------------*/
.contacts {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #191c20;
}
.contacts-title {
  font-size: 42px;
  color: var(--title-secondary-color);
  margin-bottom: 40px;
}

.contacts-list {
  padding-bottom: 70px;
}

.contacts-link {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
  font-style: normal;
  margin-bottom: var(--repeat-margin);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.decoration {
  text-decoration-line: underline;
}

.contacts-text-time {
  color: var(--title-secondary-color);
  margin-bottom: var(--repeat-margin);
}
.contacts-slogan {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: var(--contact-text-color);
}

/* ---------------------------- FOOTER ----------------------------*/
.footer {
  background-color: #f7f7f7;
}
.footer-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: var(--footer-link-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
