.page-header {
	position: absolute;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
}

.page-header__container {
	display: flex;
	align-items: center;
}

.page-header__logo {
	margin-right: 70px;
	transition: fill var(--duration) var(--timing-function);

	&:hover {
		fill: var(--light-accent);
	}
}

.nav__list {
	display: flex;
}

.nav__item {
	margin-right: 40px;

	&:last-child {
		margin-right: 0;
	}
}

.nav__link,
.online-entry__link {
	color: var(--header-link-color);
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.online-entry {
	margin-left: auto;
}

.online-entry__btn {
	min-width: 160px;
	height: 40px;
	margin-left: 40px;
	background-color: transparent;
	color: var(--button-text-primory-color);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	&:hover,
	&:focus {
		background-color: var(--accent-color);
	}
}
