.portfolio {
	padding-top: 84px;
	padding-bottom: 84px;

	@include tablet {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include desktop {
		padding-top: 130px;
		padding-bottom: 130px;
	}
}

.portfolio__text-top {
	margin-bottom: 44px;
	line-height: 1.91;

	@include tablet {
		line-height: 1.36;
	}
}

.portfolio__list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio__item {
	width: 100%;

	@include tablet {
		width: 330px;
	}

	@include desktop {
		width: 270px;
	}
}
