:root {
	--primory-text-color: #555555;
	--secondary-text-color: #303030;
	--price-text-color: #9da4bd;
	--contact-text-color: #9da4bd;
	--top-text-primory-color: #303030;
	--top-text-secondary-color: rgba(157, 164, 189, 0.6);
	--button-text-primory-color: #ffffff;
	--button-text-secondary-color: #303030;
	--title-primory-color: #303030;
	--title-secondary-color: #ffffff;
	--header-link-color: #ffffff;
	--hero-link-color: #303030;
	--footer-link-color: #303030;
	--accent-color: #ff6c00;
	--light-accent: rgba(255, 108, 0, 0.8);
	--online-text-color: rgba(157, 164, 189, 0.4);
	--font-secondary: 'Raleway', sans-serif;
	--repeat-margin: 20px;
	--bc-icons: #ffffff;
	--color-icons: #303030;
	--stats-bc-item: #f7f7f7;
	--placeholder-color: rgba(117, 117, 117, 0.5);

	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--duration: 300ms;
}
