@mixin font($f-s, $f-w, $l-h, $l-s) {
	font-size: $f-s;
	font-weight: $f-w;
	line-height: $l-h;
	letter-spacing: $l-s;
}

@mixin mobile {
	@media screen and (min-width: 480px) {
		@content;
	}
}

@mixin tablet {
	@media screen and (min-width: 768px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 1280px) {
		@content;
	}
}

@mixin retina {
	@media screen and (min-device-pixel-ratio: 2),
		(min-resolution: 192dpi),
		(min-resolution: 2dppx) {
		@content;
	}
}
